Repository simple-icons/simple-icons: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-icon-data, xo, jsonlint, svglint, markdownlint

format-icon-data:
  name: Format icon data
  entry: npm run format:icondata
  language: system
  pass_filenames: false

xo:
  name: XO
  entry: npx xo --fix
  language: system
  pass_filenames: false

jsonlint:
  name: JSON Lint
  entry: node scripts/lint/jsonlint.js
  pass_filenames: false
  language: system

svglint:
  name: SVG Lint
  entry: npx svglint --ci --config svglint.config.mjs --git-changed
  pass_filenames: false
  language: system
  verbose: true
  stages:
  - commit

markdownlint:
  name: Markdownlint
  entry: npx markdownlint-cli2 '**/*.md' '#node_modules'
  pass_filenames: false
  language: system

update guidelines for SiliconFlow
  data/simple-icons.json
Due: jsonlint

Add llama.cpp icon
  data/simple-icons.json
  icons/llamadotcpp.svg
Due: jsonlint

Add Neon icon (#14612)
  data/simple-icons.json
  icons/neon.svg
Due: jsonlint

Update ESPHome icon (#14614)
  data/simple-icons.json
  icons/esphome.svg
Due: jsonlint

fix merge conflict
  data/simple-icons.json
Due: jsonlint

Add Moonshot AI icon
  data/simple-icons.json
  icons/moonshotai.svg
Due: jsonlint

Add Greptile icon
  data/simple-icons.json
  icons/greptile.svg
Due: jsonlint

Add devEngines in package.json
  package.json
Due: jsonlint

Add devEngines in package.json (#14638)
  package.json
Due: jsonlint

Update simpleicons icon
  icons/simpleicons.svg
Due: none

Add Bandai Namco icon
  data/simple-icons.json
  icons/bandai_namco.svg
Due: jsonlint

Update Simple icons icon (#14640)
  icons/simpleicons.svg
Due: none

Update icon_update.yml
  .github/ISSUE_TEMPLATE/icon_update.yml
Due: none

Upload autodesk fusion logo
  icons/Fusion360.svg
Due: none

Add Fusion 360 icon details to simple-icons.json
  data/simple-icons.json
Due: jsonlint

Fix error, json duplicated.
  data/simple-icons.json
Due: jsonlint

Made corrections to svg name
  icons/bandainamco.svg
Due: none

Made final changes to formatting and scaling issues with svg
  data/simple-icons.json
  icons/bandainamco.svg
Due: jsonlint

Fix label link in `icon_update.yml`
  .github/ISSUE_TEMPLATE/icon_update.yml
Due: none

Fix label link in `icon_update.yml` (#14647)
  .github/ISSUE_TEMPLATE/icon_update.yml
Due: none

Add DeepSeek icon (#14635)
  data/simple-icons.json
  icons/deepseek.svg
Due: jsonlint

Update 1Password icon (#14616)
  data/simple-icons.json
  icons/1password.svg
Due: jsonlint

Add Qwen icon (#14634)
  data/simple-icons.json
  icons/qwen.svg
Due: jsonlint

Add Moonshot AI icon (#14636)
  data/simple-icons.json
  icons/moonshotai.svg
Due: jsonlint

Edit source to permalink.
  data/simple-icons.json
Due: jsonlint

Change `.nvmrc` to a symlink of `.node-version`
  .nvmrc
Due: none

Change `.nvmrc` to a symlink of `.node-version` (#14648)
  .nvmrc
Due: none

Update Git icon
  data/simple-icons.json
  icons/git.svg
Due: jsonlint

Update Git icon (#14654)
  data/simple-icons.json
  icons/git.svg
Due: jsonlint

Add Cinny icon
  data/simple-icons.json
  icons/cinny.svg
Due: jsonlint

chore: config rumdl style
  rumdl.toml
Due: none

Fix breaking changes for get-relative0luminance
  scripts/add-icon-data.js
Due: xo

Downgrade typescript to 5
  package-lock.json
  package.json
Due: jsonlint

Fix SVGO Vulnerability
  package-lock.json
  package.json
Due: jsonlint

Fix rumdl config
  rumdl.toml
Due: none

Mention companion tool in contributing doc
  CONTRIBUTING.md
Due: markdownlint

Mention companion tool in contributing doc (#14689)
  CONTRIBUTING.md
Due: markdownlint

Add LangChain Framework icon
  data/simple-icons.json
  icons/langchainframework.svg
Due: jsonlint

Update LangChain icon
  icons/langchain.svg
Due: none

Update title
  icons/langchainframework.svg
Due: none

Path conditions:
  format-icon-data: any of: {'glob': ['data/simple-icons.json']}
  xo: any of: \.(js|mjs|cjs)$
  jsonlint: any of: \.json$
  svglint: any of: {'glob': ['icons/*.svg']} and \.svg$
  markdownlint: any of: \.(md|markdown|mdown)$
