Repository simple-icons/simple-icons: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-icon-data, xo, jsonlint, svglint, markdownlint

format-icon-data:
  name: Format icon data
  entry: npm run format:icondata
  language: system
  pass_filenames: false

xo:
  name: XO
  entry: npx xo --fix
  language: system
  pass_filenames: false

jsonlint:
  name: JSON Lint
  entry: node scripts/lint/jsonlint.js
  pass_filenames: false
  language: system

svglint:
  name: SVG Lint
  entry: npx svglint --ci --config svglint.config.mjs --git-changed
  pass_filenames: false
  language: system
  verbose: true
  stages:
  - commit

markdownlint:
  name: Markdownlint
  entry: npx markdownlint-cli2 '**/*.md' '#node_modules'
  pass_filenames: false
  language: system

Add Karakeep icon (#14399)
  data/simple-icons.json
  icons/karakeep.svg
Due: jsonlint

Update data/simple-icons.json
  data/simple-icons.json
Due: jsonlint

Add Linkvertise icon (#14395)
  data/simple-icons.json
  icons/linkvertise.svg
Due: jsonlint

Fixed issue
  icons/dagster.svg
Due: none

Removed Newline character from solveddottac.avg
  icons/solveddotac.svg
Due: none

Issue Fixed
  icons/tabby.svg
Due: none

Add solved.ac icon (#14403)
  data/simple-icons.json
  icons/solveddotac.svg
Due: jsonlint

Update Vencord icon source URL to SVG
  data/simple-icons.json
Due: jsonlint

Update Longhorn icon source URL
  data/simple-icons.json
Due: jsonlint

Update Longhorn SVG with new design
  icons/longhorn.svg
Due: none

Fix SVG formatting for Longhorn icon
  icons/longhorn.svg
Due: none

add dlthub-icon
  data/simple-icons.json
  icons/dlthub.svg
Due: jsonlint

add zephyr icon
  data/simple-icons.json
  icons/zephyr.svg
Due: jsonlint

Update Baekjoon icon SVG for improved rendering
  icons/baekjoon.svg
Due: none

Add Domo icon
  data/simple-icons.json
  icons/domo.svg
Due: jsonlint

Add M5STACK icon
  data/simple-icons.json
  icons/m5stack.svg
Due: jsonlint

add qdrant-icon
  data/simple-icons.json
  icons/qdrant.svg
Due: jsonlint

Update Baekjoon icon SVG for consistency and improved structure
  icons/baekjoon.svg
Due: none

Request: urbanna
  icons/urbanna-color-stroke.svg
  icons/urbanna-color.svg
  icons/urbanna-simple-icons.svg
Due: none

Fix: Error: ENOENT: no such file or directory, open '/home/runner/work/simple-icons/simple-icons/icons/urbanna.svg'
  data/simple-icons.json
  icons/urbanna-color-stroke.svg
  icons/urbanna-simple-icons.svg
  icons/urbanna.svg
Due: jsonlint

Update Vencord icon (#14397)
  data/simple-icons.json
  icons/vencord.svg
Due: jsonlint

Removed unnecessary point
  icons/baekjoon.svg
Due: none

Used Image from source provided
  icons/longhorn.svg
Due: none

Refactor Image one path was moving incorrectly so fixed it
  icons/longhorn.svg
Due: none

Add Woodpecker icon
  data/simple-icons.json
  icons/woodpecker.svg
Due: jsonlint

Add Phaser icon
  data/simple-icons.json
  icons/phaser.svg
Due: jsonlint

Update localai icon (cleaned path, inverted style)
  icons/localai.svg
Due: none

Re-optimize to fix 'A'
  icons/localai.svg
Due: none

Add Longhorn icon (#14402)
  data/simple-icons.json
  icons/longhorn.svg
Due: jsonlint

Add files via upload
  icons/doginaldogs.svg
Due: none

Add Doginal Dogs icon data to simple-icons.json
  data/simple-icons.json
Due: jsonlint

Add Algora icon
  data/simple-icons.json
  icons/algora.svg
Due: jsonlint

Fix typos and grammar errors in comments and docs
  CONTRIBUTING.md
  scripts/utils.js
  svglint.config.mjs
Due: xo, markdownlint

fixed svg
  icons/dlthub.svg
Due: none

Added-cline-icon
  data/simple-icons.json
  icons/cline.svg
Due: jsonlint

Add Cline icon (#14441)
  data/simple-icons.json
  icons/cline.svg
Due: jsonlint

Add Locust icon
  data/simple-icons.json
  icons/locust.svg
Due: jsonlint

change in dlthub source
  data/simple-icons.json
Due: jsonlint

fix(tangled): doing the checkbox
  data/simple-icons.json
  icons/tangled.svg
Due: jsonlint

Path conditions:
  format-icon-data: any of: {'glob': ['data/simple-icons.json']}
  xo: any of: \.(js|mjs|cjs)$
  jsonlint: any of: \.json$
  svglint: any of: {'glob': ['icons/*.svg']} and \.svg$
  markdownlint: any of: \.(md|markdown|mdown)$
