Repository simple-icons/simple-icons: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-icon-data, xo, jsonlint, svglint, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-icon-data
        name: Format icon data
        entry: npm run format:icondata
        language: system
        pass_filenames: false
        files:
          glob:
            - data/simple-icons.json
      - id: prettier
        name: Prettier
        entry: npm run prettier -- --write
        language: system
        pass_filenames: false
      - id: xo
        name: XO
        entry: npx xo --fix
        language: system
        pass_filenames: false
        types: [javascript]
      - id: ourlint
        name: Our lint
        language: system
        entry: node scripts/lint/ourlint.js
        pass_filenames: false
        always_run: true
      - id: jsonlint
        name: JSON Lint
        entry: node scripts/lint/jsonlint.js
        pass_filenames: false
        language: system
        types: [json]
      - id: svglint
        name: SVG Lint
        entry: npx svglint --ci --config svglint.config.mjs --git-changed
        pass_filenames: false
        language: system
        types: [svg]
        files:
          glob:
            - icons/*.svg
        verbose: true
        stages: [commit]
      - id: markdownlint
        name: Markdownlint
        entry: "npx markdownlint-cli2 '**/*.md' '#node_modules'"
        pass_filenames: false
        types: [markdown]
        language: system

fix: update broken Qi source and guidelines URLs
  data/simple-icons.json
Due: jsonlint

Add guidelines URL for Dify icon
  data/simple-icons.json
Due: jsonlint

Add license URL for Dify icon
  data/simple-icons.json
Due: jsonlint

Update Dify icon (#14512)
  data/simple-icons.json
Due: jsonlint

Add Longhorn icon
  data/simple-icons.json
  icons/longhorn.svg
Due: jsonlint

Fix Nacos SVG formatting and merge conflicts
  data/simple-icons.json
  icons/nacos.svg
Due: jsonlint

Add AliasVault icon
  data/simple-icons.json
  icons/aliasvault.svg
Due: jsonlint

Warning for unoptimized icons
  .github/workflows/verify.yml
  package.json
Due: jsonlint

Adding guidelines for Qdrant icon
  data/simple-icons.json
Due: jsonlint

Add xAI icon
  data/simple-icons.json
  icons/xai.svg
Due: jsonlint

Add RustFS icon
  data/simple-icons.json
  icons/rustfs.svg
Due: jsonlint

Update simple-icons.json
  data/simple-icons.json
Due: jsonlint

Update MCPEDL SVG content
  icons/mcpedl.svg
Due: none

Update MCPEDL SVG file
  icons/mcpedl.svg
Due: none

Update mcpedl.svg
  icons/mcpedl.svg
Due: none

Replace placeholder with SVG content for MCPEDL
  icons/mcpedl.svg
Due: none

docs: fix mcpedl.svg formatting
  icons/mcpedl.svg
Due: none

update: Kuma icon data
  data/simple-icons.json
Due: jsonlint

update: Vitess icon data
  data/simple-icons.json
Due: jsonlint

Add Pimoroni icon (#8756)
  data/simple-icons.json
  icons/pimoroni.svg
Due: jsonlint

Fix redundant file reads in URL validation
  scripts/add-icon-data.js
Due: xo

fix: update Corsair guidelines URL to newsroom/company-logos
  data/simple-icons.json
Due: jsonlint

Update broken source/guidelines links (#11901)
  data/simple-icons.json
Due: jsonlint

feat: add postmarketOS icon (#11772)
  data/simple-icons.json
  icons/postmarketos.svg
Due: jsonlint

Remove unused imports from add-icon-data script
  scripts/add-icon-data.js
Due: xo

update: Vitess icon
  icons/vitess.svg
Due: none

Update Helium icon (#14528)
  data/simple-icons.json
  icons/helium.svg
Due: jsonlint

update: proper faceted Vitess icon
  icons/vitess.svg
Due: none

feat: add Lovable icon
  data/simple-icons.json
  icons/lovable.svg
Due: jsonlint

Add Morgen icon
  data/simple-icons.json
  icons/morgen.svg
Due: jsonlint

Added SkyPilot icon
  data/simple-icons.json
  icons/skypilot.svg
Due: jsonlint

fix: update Corsair guidelines URL
  data/simple-icons.json
Due: jsonlint

fix: update various broken guidelines URLs
  data/simple-icons.json
Due: jsonlint

Update Morgen icon to include horizontal gap
  icons/morgen.svg
Due: none
