Repository simple-icons/simple-icons: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-icon-data, xo, jsonlint, svglint, markdownlint

format-icon-data:
  name: Format icon data
  entry: npm run format:icondata
  language: system
  pass_filenames: false

xo:
  name: XO
  entry: npx xo --fix
  language: system
  pass_filenames: false

jsonlint:
  name: JSON Lint
  entry: node scripts/lint/jsonlint.js
  pass_filenames: false
  language: system

svglint:
  name: SVG Lint
  entry: npx svglint --ci --config svglint.config.mjs --git-changed
  pass_filenames: false
  language: system
  verbose: true
  stages:
  - commit

markdownlint:
  name: Markdownlint
  entry: npx markdownlint-cli2 '**/*.md' '#node_modules'
  pass_filenames: false
  language: system

Add AliasVault icon
  data/simple-icons.json
  icons/aliasvault.svg
Due: jsonlint

Add Perfecto icon
  data/simple-icons.json
  icons/perfecto.svg
Due: jsonlint

Add Contensis icon
  data/simple-icons.json
  icons/contensis.svg
  package-lock.json
Due: jsonlint

Fix unintended package-lock changes
  package-lock.json
Due: jsonlint

Update hex values and sources for various icons
  data/simple-icons.json
Due: jsonlint

Update broken source URLs for Qi, containerd, Kuma, Linkerd, Vitess
  data/simple-icons.json
Due: jsonlint

Refactor redundant Object.assign wrappers and fix JSDoc types in scripts/utils.js
  scripts/utils.js
Due: xo

Add TiDB icon
  data/simple-icons.json
  icons/tidb.svg
Due: jsonlint

Add TiDB icon (#14387)
  data/simple-icons.json
  icons/tidb.svg
Due: jsonlint

Add Pangolin icon (#14350)
  data/simple-icons.json
  icons/pangolin.svg
Due: jsonlint

Update TiDB icon
  icons/tidb.svg
Due: none

Update TiDB icon (#14388)
  icons/tidb.svg
Due: none

Fix verify workflow
  .github/workflows/verify.yml
Due: none

Add Yew icon
  data/simple-icons.json
  icons/yew.svg
Due: jsonlint

Add RustFS icon
  data/simple-icons.json
  icons/rustfs.svg
Due: jsonlint

Add Base UI icon (#14349)
  data/simple-icons.json
  icons/baseui.svg
Due: jsonlint

Update icons/yew.svg
  icons/yew.svg
Due: none

Add Yew icon (#14390)
  data/simple-icons.json
  icons/yew.svg
Due: jsonlint

Add Loops icon (#14345)
  data/simple-icons.json
  icons/loops.svg
Due: jsonlint

Fix verify workflow (#14389)
  .github/workflows/verify.yml
Due: none

Add Trezor Icon
  data/simple-icons.json
  icons/trezor.svg
Due: jsonlint

Add Linkvertise icon
  data/simple-icons.json
  icons/linkvertise.svg
Due: jsonlint

Updated the Vencord Icon
  data/simple-icons.json
  icons/vencord.svg
Due: jsonlint

Add Ghostfolio icon and update source in simple-icons.json
  data/simple-icons.json
  icons/ghostfolio.svg
Due: jsonlint

Add Karakeep Icon
  data/simple-icons.json
  icons/karakeep.svg
Due: jsonlint

Add Longhorn icon and update source in simple-icons.json
  data/simple-icons.json
  icons/longhorn.svg
Due: jsonlint

Add Tabby icon
  data/simple-icons.json
  icons/tabby.svg
Due: jsonlint

Add Longhorn icon with source and guidelines
  data/simple-icons.json
  icons/longhorn.svg
Due: jsonlint

Added SolvedAC Icon
  data/simple-icons.json
  icons/solvedac.svg
Due: jsonlint

Add Baekjoon icon and update source in simple-icons.json
  data/simple-icons.json
  icons/baekjoon.svg
Due: jsonlint

Add Dagster icon
  data/simple-icons.json
  icons/dagster.svg
Due: jsonlint

Add Dify icon
  data/simple-icons.json
  icons/dify.svg
Due: jsonlint

Add Ghostfolio icon (#14398)
  data/simple-icons.json
  icons/ghostfolio.svg
Due: jsonlint

Update data/simple-icons.json
  data/simple-icons.json
Due: jsonlint

Rename SVG title from 'SolvedAC' to 'solved.ac'
  icons/solvedac.svg
Due: none

Renamed solveddotac.svg icon file
  icons/solveddotac.svg
Due: none

Add Trezor icon (#14396)
  data/simple-icons.json
  icons/trezor.svg
Due: jsonlint

Path conditions:
  format-icon-data: any of: {'glob': ['data/simple-icons.json']}
  xo: any of: \.(js|mjs|cjs)$
  jsonlint: any of: \.json$
  svglint: any of: {'glob': ['icons/*.svg']} and \.svg$
  markdownlint: any of: \.(md|markdown|mdown)$
