Repository simple-icons/simple-icons: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-icon-data, xo, jsonlint, svglint, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-icon-data
        name: Format icon data
        entry: npm run format:icondata
        language: system
        pass_filenames: false
        files:
          glob:
            - data/simple-icons.json
      - id: prettier
        name: Prettier
        entry: npm run prettier -- --write
        language: system
        pass_filenames: false
      - id: xo
        name: XO
        entry: npx xo --fix
        language: system
        pass_filenames: false
        types: [javascript]
      - id: ourlint
        name: Our lint
        language: system
        entry: node scripts/lint/ourlint.js
        pass_filenames: false
        always_run: true
      - id: jsonlint
        name: JSON Lint
        entry: node scripts/lint/jsonlint.js
        pass_filenames: false
        language: system
        types: [json]
      - id: svglint
        name: SVG Lint
        entry: npx svglint --ci --config svglint.config.mjs --git-changed
        pass_filenames: false
        language: system
        types: [svg]
        files:
          glob:
            - icons/*.svg
        verbose: true
        stages: [commit]
      - id: markdownlint
        name: Markdownlint
        entry: "npx markdownlint-cli2 '**/*.md' '#node_modules'"
        pass_filenames: false
        types: [markdown]
        language: system

Add Crossplane icon and data
  data/simple-icons.json
  icons/crossplane.svg
Due: jsonlint

Optimize code
  scripts/build/package.js
Due: xo

Update PrestaShop icon
  data/simple-icons.json
  icons/prestashop.svg
Due: jsonlint

Add Ky icon
  data/simple-icons.json
  icons/ky.svg
Due: jsonlint

Update LangChain icon
  icons/langchain.svg
Due: none

Update LangChain icon
  data/simple-icons.json
  icons/langchain.svg
Due: jsonlint

Upgrade `xo` to 2.0.2 (#14484)
  jsconfig.json
  package-lock.json
  package.json
  scripts/actions/autoclose-issues/autoclose.app.js
  scripts/actions/autoclose-issues/autoclose.rules.js
  scripts/actions/duplicate-issues/duplicate.app.js
  scripts/add-icon-data.js
  scripts/build/package.js
  scripts/lint/ourlint.js
  scripts/release/reformat-markdown.js
  scripts/release/sdk-ts-defs-jsconfig.json
  scripts/release/update-cdn-urls.js
  scripts/release/update-svgs-count.js
  scripts/utils.js
  sdk.mjs
  svglint.config.mjs
  tests/docs.test.js
  xo.config.mjs
Due: xo, jsonlint

Update LangChain icon (#14492)
  data/simple-icons.json
  icons/langchain.svg
Due: jsonlint

add OGUsers logo
  data/simple-icons.json
  icons/ogusers.svg
Due: jsonlint

Delete data/simple-icons.json
  data/simple-icons.json
Due: jsonlint

Update Apache Arrow icon source
  data/simple-icons.json
Due: jsonlint

Add Dify icon (#14408)
  data/simple-icons.json
  icons/dify.svg
Due: jsonlint

Add initial SVG file for fluxer
  fluxer.svg
Due: none

Add Fluxer icon information to simple-icons.json
  data/simple-icons.json
Due: jsonlint

Add aliasvault.svg icon file
  icons/aliasvault.svg
Due: none

Add AliasVault icon information to simple-icons.json
  data/simple-icons.json
Due: jsonlint

Added CachyOS icon
  data/simple-icons.json
  icons/cachyos.svg
Due: jsonlint

refactor: update Qgis to QGIS (#13734)
  data/simple-icons.json
  icons/qgis.svg
  slugs.md
Due: jsonlint, markdownlint

fix: revert changes to slugs.md
  slugs.md
Due: markdownlint

fix: restore slugs.md from latest upstream develop
  slugs.md
Due: markdownlint

Update QGIS icon (#14499)
  data/simple-icons.json
  icons/qgis.svg
Due: jsonlint

feat: add Lime icon
  data/simple-icons.json
  icons/lime.svg
Due: jsonlint

feat: add Bethesda icon
  data/simple-icons.json
  icons/bethesda.svg
Due: jsonlint

feat: add PuTTY icon
  icons/putty.svg
Due: none

Add Google AI Studio icon
  data/simple-icons.json
  icons/googleaistudio.svg
Due: jsonlint

Fix: Move Google AI Studio to correct alphabetical order
  data/simple-icons.json
Due: jsonlint

feat: add Vrbo icon
  data/simple-icons.json
  icons/vrbo.svg
Due: jsonlint

fix: update broken source URLs for Qi and Vitess
  data/simple-icons.json
Due: jsonlint

fix: update broken CNCF source URLs for containerd, etcd, kuma, linkerd, opentelemetry
  data/simple-icons.json
Due: jsonlint

fix: update broken CentOS source URL
  data/simple-icons.json
Due: jsonlint

fix: update broken Litecoin source/guidelines URL
  data/simple-icons.json
Due: jsonlint

fix: update broken TUI source/guidelines URL
  data/simple-icons.json
Due: jsonlint

fix: update broken Wolfram source URLs for 3 icons
  data/simple-icons.json
Due: jsonlint

fix: update broken Groupon source/guidelines URL
  data/simple-icons.json
Due: jsonlint

fix: update broken SmugMug source URL
  data/simple-icons.json
Due: jsonlint

Fix: Formatting and trailing whitespace.
  data/simple-icons.json
Due: jsonlint

fix: update broken SlideShare and Equinix Metal source URLs
  data/simple-icons.json
Due: jsonlint

feat: update ESPHome icon and color
  data/simple-icons.json
  icons/esphome.svg
Due: jsonlint

fix: update Corsair source URL (fixes #14252)
  data/simple-icons.json
Due: jsonlint
