Repository simple-icons/simple-icons: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-icon-data, xo, jsonlint, svglint, markdownlint

format-icon-data:
  name: Format icon data
  entry: npm run format:icondata
  language: system
  pass_filenames: false

xo:
  name: XO
  entry: npx xo --fix
  language: system
  pass_filenames: false

jsonlint:
  name: JSON Lint
  entry: node scripts/lint/jsonlint.js
  pass_filenames: false
  language: system

svglint:
  name: SVG Lint
  entry: npx svglint --ci --config svglint.config.mjs --git-changed
  pass_filenames: false
  language: system
  verbose: true
  stages:
  - commit

markdownlint:
  name: Markdownlint
  entry: npx markdownlint-cli2 '**/*.md' '#node_modules'
  pass_filenames: false
  language: system

Update pakistaninternationalairlines.svg
  icons/pakistaninternationalairlines.svg
Due: none

Add alphaXiv icon
  data/simple-icons.json
  icons/alphaxiv.svg
Due: jsonlint

Update Wwise icon
  data/simple-icons.json
  icons/wwise.svg
Due: jsonlint

Add CybLight SVG icon
  icons/cyblight.svg
Due: none

Add CybLight icon information to simple-icons.json
  data/simple-icons.json
Due: jsonlint

Update SVG path for CybLight icon
  icons/cyblight.svg
Due: none

Update SVG path data for CybLight icon
  icons/cyblight.svg
Due: none

Fix JSON formatting for CybLight entry
  data/simple-icons.json
Due: jsonlint

Fix JSON formatting and sort CybLight entry
  data/simple-icons.json
Due: jsonlint

Add alphaXiv icon (#14996)
  data/simple-icons.json
  icons/alphaxiv.svg
Due: jsonlint

Rework Wwise icon with consistent geometry
  icons/wwise.svg
Due: none

Add Ocado icon
  data/simple-icons.json
  icons/ocado.svg
Due: jsonlint

Drop `good-first-issue` badges
  CONTRIBUTING.md
  README.md
Due: markdownlint

Drop `good-first-issue` badges (#15006)
  CONTRIBUTING.md
  README.md
Due: markdownlint

Merge overlapping paths in dbdiagram.io icon
  icons/dbdiagramdotio.svg
Due: none

feat(icons): add Confident AI icon (#14998)
  data/simple-icons.json
  icons/confidentai.svg
Due: jsonlint

Add Ryvax.js icon
  data/simple-icons.json
  icons/ryvaxjs.svg
Due: jsonlint

fix(types): use ts-ignore for compatibility
  data/simple-icons.d.ts
Due: none

Update Ruff icon
  icons/ruff.svg
Due: none

Add Godox icon
  data/simple-icons.json
  icons/godox.svg
Due: jsonlint

Add Godox icon (#15013)
  data/simple-icons.json
  icons/godox.svg
Due: jsonlint

Add QRIS icon
  data/simple-icons.json
  icons/qris.svg
Due: jsonlint

Update QRIS icon color to black (#15014)
  data/simple-icons.json
Due: jsonlint

Add SerpApi icon (#15018)
  data/simple-icons.json
  icons/serpapi.svg
Due: jsonlint

Update Elixir brand color
  data/simple-icons.json
Due: jsonlint

Reduce Ocado icon precision
  icons/ocado.svg
Due: none

Add Earendil icon
  data/simple-icons.json
  icons/earendil.svg
Due: jsonlint

Add Sonatype Nexus icon
  data/simple-icons.json
  icons/sonatypenexus.svg
Due: jsonlint

Add HAProxy icon
  data/simple-icons.json
  icons/haproxy.svg
Due: jsonlint

Add Sumup icon
  data/simple-icons.json
  icons/sumup.svg
Due: jsonlint

Update simple-icons.json
  data/simple-icons.json
Due: jsonlint

Add Hypit icon
  data/simple-icons.json
  icons/hypit.svg
Due: jsonlint

Add Hypit icon (#15035)
  data/simple-icons.json
  icons/hypit.svg
Due: jsonlint

Add Zensical icon
  data/simple-icons.json
  icons/zensical.svg
Due: jsonlint

Add Django package
  README.md
Due: markdownlint

Add Notesnook icon (#12085)
  data/simple-icons.json
  icons/notesnook.svg
Due: jsonlint

Path conditions:
  format-icon-data: any of: {'glob': ['data/simple-icons.json']}
  xo: any of: \.(js|mjs|cjs)$
  jsonlint: any of: \.json$
  svglint: any of: {'glob': ['icons/*.svg']} and \.svg$
  markdownlint: any of: \.(md|markdown|mdown)$
