Repository simple-icons/simple-icons: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-icon-data, xo, jsonlint, svglint, markdownlint

format-icon-data:
  name: Format icon data
  entry: npm run format:icondata
  language: system
  pass_filenames: false

xo:
  name: XO
  entry: npx xo --fix
  language: system
  pass_filenames: false

jsonlint:
  name: JSON Lint
  entry: node scripts/lint/jsonlint.js
  pass_filenames: false
  language: system

svglint:
  name: SVG Lint
  entry: npx svglint --ci --config svglint.config.mjs --git-changed
  pass_filenames: false
  language: system
  verbose: true
  stages:
  - commit

markdownlint:
  name: Markdownlint
  entry: npx markdownlint-cli2 '**/*.md' '#node_modules'
  pass_filenames: false
  language: system

Update IronVest source URL to point to SVG logo
  data/simple-icons.json
Due: jsonlint

fix autoclose script
  scripts/actions/autoclose-issues/autoclose.app.js
Due: xo

fix autoclose script (#14302)
  scripts/actions/autoclose-issues/autoclose.app.js
Due: xo

Add Pandoc icon
  data/simple-icons.json
  icons/pandoc.svg
Due: jsonlint

feat: Add 'check-popularity' script for contributors
  CONTRIBUTING.md
  package.json
  scripts/check-popularity.js
Due: xo, jsonlint, markdownlint

Update Resend icon
  icons/resend.svg
Due: none

Add NDI icon
  data/simple-icons.json
  icons/ndi.svg
Due: jsonlint

Changed hex and fixed svg
  data/simple-icons.json
  icons/ndi.svg
Due: jsonlint

Update Resend icon (#14313)
  icons/resend.svg
Due: none

Add Canonical Juju icon
  data/simple-icons.json
  icons/canonicaljuju.svg
Due: jsonlint

Add Linkwarden
  data/simple-icons.json
  icons/linkwarden.svg
Due: jsonlint

Update data/simple-icons.json
  data/simple-icons.json
Due: jsonlint

Fixed svg
  icons/canonicaljuju.svg
Due: none

Fixed svg
  icons/supercell.svg
Due: none

Add GLS icon and update simple-icons.json
  data/simple-icons.json
  icons/gls.svg
Due: jsonlint

Bump dependencies
  package-lock.json
  package.json
Due: jsonlint

Add Deno Deploy icon
  data/simple-icons.json
  icons/denodeploy.svg
Due: jsonlint

Update ListenHub icon
  icons/listenhub.svg
Due: none

Update ListenHub icon (#14325)
  icons/listenhub.svg
Due: none

Update Deno icon
  data/simple-icons.json
Due: jsonlint

Add Deezer icon (#13843)
  data/simple-icons.json
  icons/deezer.svg
Due: jsonlint

Add NDI icon (#14315)
  data/simple-icons.json
  icons/ndi.svg
Due: jsonlint

Add SpiderMonkey icon
  data/simple-icons.json
  icons/spidermonkey.svg
Due: jsonlint

Add Pandoc icon (#14303)
  data/simple-icons.json
  icons/pandoc.svg
Due: jsonlint

Update Deno icon (#14328)
  data/simple-icons.json
Due: jsonlint

Add Deno Deploy icon (#14324)
  data/simple-icons.json
  icons/denodeploy.svg
Due: jsonlint

Fixed Svg Manually
  icons/tarteaucitron.svg
Due: none

Fixed Svg from eps file
  icons/supercell.svg
Due: none

Add Tarteaucitron icon (#14294)
  data/simple-icons.json
  icons/tarteaucitron.svg
Due: jsonlint

Removed border from icon
  icons/supercell.svg
Due: none

Add Supercell icon (#14081)
  data/simple-icons.json
  icons/supercell.svg
Due: jsonlint

Add PuTTY icon
  data/simple-icons.json
  icons/putty.svg
Due: jsonlint

Migrate to prek.toml
  .editorconfig
  .pre-commit-config.yaml
  package-lock.json
  package.json
  prek.toml
Due: jsonlint

Fix icon size to meet 24px dimension requirement
  icons/putty.svg
Due: none

Update PuTTY icon to official monochrome version
  data/simple-icons.json
  icons/putty.svg
Due: jsonlint

Optimize PuTTY icon coordinates for pixel-perfect alignment
  icons/putty.svg
Due: none

Add Corsair icon
  icons/corsair.svg
Due: none

Fix Corsair brand guidelines link
  data/simple-icons.json
Due: jsonlint

change to node --run
  prek.toml
Due: none

Path conditions:
  format-icon-data: any of: {'glob': ['data/simple-icons.json']}
  xo: any of: \.(js|mjs|cjs)$
  jsonlint: any of: \.json$
  svglint: any of: {'glob': ['icons/*.svg']} and \.svg$
  markdownlint: any of: \.(md|markdown|mdown)$
