Repository simple-icons/simple-icons: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-icon-data, xo, jsonlint, svglint, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-icon-data
        name: Format icon data
        entry: npm run format:icondata
        language: system
        pass_filenames: false
        files:
          glob:
            - data/simple-icons.json
      - id: prettier
        name: Prettier
        entry: npm run prettier -- --write
        language: system
        pass_filenames: false
      - id: xo
        name: XO
        entry: npx xo --fix
        language: system
        pass_filenames: false
        types: [javascript]
      - id: ourlint
        name: Our lint
        language: system
        entry: node scripts/lint/ourlint.js
        pass_filenames: false
        always_run: true
      - id: jsonlint
        name: JSON Lint
        entry: node scripts/lint/jsonlint.js
        pass_filenames: false
        language: system
        types: [json]
      - id: svglint
        name: SVG Lint
        entry: npx svglint --ci --config svglint.config.mjs --git-changed
        pass_filenames: false
        language: system
        types: [svg]
        files:
          glob:
            - icons/*.svg
        verbose: true
        stages: [commit]
      - id: markdownlint
        name: Markdownlint
        entry: "npx markdownlint-cli2 '**/*.md' '#node_modules'"
        pass_filenames: false
        types: [markdown]
        language: system

Update URL
  data/simple-icons.json
Due: jsonlint

Update LangGraph icon
  data/simple-icons.json
  icons/langgraph.svg
Due: jsonlint

Update icons/langgraph.svg
  icons/langgraph.svg
Due: none

Rename to LangChain Corporate
  data/simple-icons.json
  icons/langchaincorporate.svg
  icons/langchainframework.svg
Due: jsonlint

feat(icons): Add OpenCode icon
  data/simple-icons.json
  icons/opencode.svg
Due: jsonlint

Update Open Collective badge icon color
  README.md
Due: markdownlint

Update Open Collective badge icon color (#14695)
  README.md
Due: markdownlint

Add Cinny icon (#14664)
  data/simple-icons.json
  icons/cinny.svg
Due: jsonlint

Add LangChain Corporate icon (#14692)
  data/simple-icons.json
  icons/langchaincorporate.svg
Due: jsonlint

Update LangGraph icon (#14693)
  data/simple-icons.json
  icons/langgraph.svg
Due: jsonlint

Update LangChain icon (#14691)
  data/simple-icons.json
  icons/langchain.svg
Due: jsonlint

Add Helium Browser icon
  data/simple-icons.json
  icons/helium_browser.svg
Due: jsonlint

Update data/simple-icons.json
  data/simple-icons.json
Due: jsonlint

Apply review feedback to Helium Browser icon
  data/simple-icons.json
  icons/helium_browser.svg
  icons/heliumbrowser.svg
Due: jsonlint

Add Helium Browser icon (#14697)
  data/simple-icons.json
  icons/heliumbrowser.svg
Due: jsonlint

Add Ticket Tailor icon
  data/simple-icons.json
  icons/tickettailor.svg
Due: jsonlint

Add files via upload
  icons/grafana-loki.svg
Due: none

Add Grafana Loki icon details to simple-icons.json
  data/simple-icons.json
Due: jsonlint

feat: add Grafana Loki to dataset
  data/simple-icons.json
Due: jsonlint

Add beyondtrust.svg
  icons/beyondtrust.svg
Due: none

Update simple-icons.json
  data/simple-icons.json
Due: jsonlint

fix: update Gitleaks source URL to permalink
  data/simple-icons.json
  icons/gitleaks.svg
Due: jsonlint

Add CSS3 Icon
  data/simple-icons.json
  icons/css3.svg
  tests copy/docs.test.js
  tests copy/index.test.js
  tests copy/min-reporter.cjs
  tests copy/package.json
  tests copy/test-icon.js
Due: xo, jsonlint

Remove duplicated tests folder
  tests copy/docs.test.js
  tests copy/index.test.js
  tests copy/min-reporter.cjs
  tests copy/package.json
  tests copy/test-icon.js
Due: xo, jsonlint

contribute lm studio icon
  data/simple-icons.json
  icons/lmstudio.svg
Due: jsonlint

update metadata
  data/simple-icons.json
Due: jsonlint

update
  icons/lmstudio.svg
Due: none

Add Ticket Tailor icon (#14700)
  data/simple-icons.json
  icons/tickettailor.svg
Due: jsonlint

fix: auto-format from pre-commit hook
  data/simple-icons.json
  icons/doginaldogs.svg
Due: jsonlint

Add Await widget third-party extension
  README.md
Due: markdownlint

Add test for image URLs in README 3rd party extension tables
  sdk.d.ts
  sdk.mjs
  tests/docs.test.js
Due: xo

Refactor to avoid breaking change in the SDK
  sdk.d.ts
Due: none

Add Amazon Web Services icon
  data/simple-icons.json
  icons/amazonwebservices.svg
Due: jsonlint

Add OpenTUI icon
  data/simple-icons.json
  icons/opentui.svg
Due: jsonlint

Add test for image URLs in README 3rd party extension tables (#14731)
  sdk.d.ts
  sdk.mjs
  tests/docs.test.js
Due: xo

added RTVE icon
  data/simple-icons.json
  icons/rtve.svg
Due: jsonlint

edited hex for RTVE
  data/simple-icons.json
Due: jsonlint

Add Await icon
  data/simple-icons.json
  icons/await.svg
Due: jsonlint

Add Await icon (#14743)
  data/simple-icons.json
  icons/await.svg
Due: jsonlint

Update icon URL
  README.md
Due: markdownlint
