Repository simple-icons/simple-icons: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-icon-data, xo, jsonlint, svglint, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-icon-data
        name: Format icon data
        entry: npm run format:icondata
        language: system
        pass_filenames: false
        files:
          glob:
            - data/simple-icons.json
      - id: prettier
        name: Prettier
        entry: npm run prettier -- --write
        language: system
        pass_filenames: false
      - id: xo
        name: XO
        entry: npx xo --fix
        language: system
        pass_filenames: false
        types: [javascript]
      - id: ourlint
        name: Our lint
        language: system
        entry: node scripts/lint/ourlint.js
        pass_filenames: false
        always_run: true
      - id: jsonlint
        name: JSON Lint
        entry: node scripts/lint/jsonlint.js
        pass_filenames: false
        language: system
        types: [json]
      - id: svglint
        name: SVG Lint
        entry: npx svglint --ci --config svglint.config.mjs --git-changed
        pass_filenames: false
        language: system
        types: [svg]
        files:
          glob:
            - icons/*.svg
        verbose: true
        stages: [commit]
      - id: markdownlint
        name: Markdownlint
        entry: "npx markdownlint-cli2 '**/*.md' '#node_modules'"
        pass_filenames: false
        types: [markdown]
        language: system

feat: remove all bad code
  icons/tangled.svg
Due: none

feat(tangled): move it upper in the json
  data/simple-icons.json
Due: jsonlint

fix: lint
  icons/tangled.svg
Due: none

fix: build
  icons/tangled.svg
Due: none

feat: tangled
  data/simple-icons.json
  icons/tangled.svg
Due: jsonlint

feat(tangled): remove the ,
  data/simple-icons.json
Due: jsonlint

Add dlthub icon (#14410)
  data/simple-icons.json
  icons/dlthub.svg
Due: jsonlint

Add AskVerdict icon
  data/simple-icons.json
  icons/askverdict.svg
Due: jsonlint

fix: correct SVG winding direction for proper notch rendering
  icons/askverdict.svg
Due: none

fix: update contensis source link
  data/simple-icons.json
Due: jsonlint

Remove slug from Doginal Dogs entry
  data/simple-icons.json
Due: jsonlint

Add Contensis icon (#14368)
  data/simple-icons.json
  icons/contensis.svg
Due: jsonlint

Added-OpenBao-Icon
  data/simple-icons.json
  icons/openbao.svg
  package-lock.json
Due: jsonlint

Change OpenBao hex color from black to white
  data/simple-icons.json
Due: jsonlint

Switched to latest npm version
  package-lock.json
Due: jsonlint

Added guidelines link
  data/simple-icons.json
Due: jsonlint

Add DiceBear icon
  data/simple-icons.json
  icons/dicebear.svg
Due: jsonlint

Add VTK icon
  data/simple-icons.json
  icons/vtk.svg
Due: jsonlint

Add DiceBear icon (#14460)
  data/simple-icons.json
  icons/dicebear.svg
Due: jsonlint

Add files via upload
  icons/apidog.svg
Due: none

Add Apidog icon information to simple-icons.json
  data/simple-icons.json
Due: jsonlint

Add moon Studios icon
  data/simple-icons.json
  icons/moonstudios.svg
Due: jsonlint

Changed hex to OpenBao's primary colour
  data/simple-icons.json
Due: jsonlint

Add Apache Arrow icon
  data/simple-icons.json
  icons/apachearrow.svg
Due: jsonlint

Updated guidelines and license
  data/simple-icons.json
Due: jsonlint

Update YouTube icons color
  data/simple-icons.json
Due: jsonlint

Add Fluxer icon details to simple-icons.json
  data/simple-icons.json
Due: jsonlint

Add Fluxer SVG logo
  icons/fluxer.svg
Due: none

Remove style attribute from fluxer.svg and fix indentation in simple-icons.json
  data/simple-icons.json
  icons/fluxer.svg
Due: jsonlint

Add LXDE icon
  data/simple-icons.json
  icons/lxde.svg
Due: jsonlint

Add OpenBao icon (#14461)
  data/simple-icons.json
  icons/openbao.svg
Due: jsonlint

Added Pi icon
  data/simple-icons.json
  icons/pi.svg
Due: jsonlint

Add SkyPilot icon
  data/simple-icons.json
  icons/skypilot.svg
Due: jsonlint

Update Portainer icon and color (#13816)
  data/simple-icons.json
  icons/portainer.svg
Due: jsonlint

Add MCPEDL icon
  icons/mcpedl.svg
Due: none

Add MCPEDL icon with hex and source
  data/simple-icons.json
Due: jsonlint

Upgrade `xo` to 2.0.2
  jsconfig.json
  package-lock.json
  package.json
  scripts/actions/autoclose-issues/autoclose.app.js
  scripts/actions/autoclose-issues/autoclose.rules.js
  scripts/actions/duplicate-issues/duplicate.app.js
  scripts/add-icon-data.js
  scripts/build/package.js
  scripts/lint/ourlint.js
  scripts/release/reformat-markdown.js
  scripts/release/update-cdn-urls.js
  scripts/release/update-svgs-count.js
  scripts/utils.js
  sdk.mjs
  svglint.config.mjs
  tests/docs.test.js
Due: xo, jsonlint

Suppress type error from headers plugin
  xo.config.mjs
Due: xo

Fix reset lint issues
  scripts/build/package.js
  scripts/release/sdk-ts-defs-jsconfig.json
Due: xo, jsonlint
