Repository simple-icons/simple-icons: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-icon-data, xo, jsonlint, svglint, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-icon-data
        name: Format icon data
        entry: npm run format:icondata
        language: system
        pass_filenames: false
        files:
          glob:
            - data/simple-icons.json
      - id: prettier
        name: Prettier
        entry: npm run prettier -- --write
        language: system
        pass_filenames: false
      - id: xo
        name: XO
        entry: npx xo --fix
        language: system
        pass_filenames: false
        types: [javascript]
      - id: ourlint
        name: Our lint
        language: system
        entry: node scripts/lint/ourlint.js
        pass_filenames: false
        always_run: true
      - id: jsonlint
        name: JSON Lint
        entry: node scripts/lint/jsonlint.js
        pass_filenames: false
        language: system
        types: [json]
      - id: svglint
        name: SVG Lint
        entry: npx svglint --ci --config svglint.config.mjs --git-changed
        pass_filenames: false
        language: system
        types: [svg]
        files:
          glob:
            - icons/*.svg
        verbose: true
        stages: [commit]
      - id: markdownlint
        name: Markdownlint
        entry: "npx markdownlint-cli2 '**/*.md' '#node_modules'"
        pass_filenames: false
        types: [markdown]
        language: system

Add Await widget third-party extension (#14730)
  README.md
Due: markdownlint

Add Paperclip icon
  data/simple-icons.json
  icons/paperclip.svg
Due: jsonlint

Update deps
  package-lock.json
  package.json
Due: jsonlint

Update config for ts6
  jsconfig.json
  scripts/release/sdk-ts-defs-jsconfig.json
Due: jsonlint

Update Express icon
  data/simple-icons.json
  icons/express.svg
Due: jsonlint

Add OpenTUI icon (#14740)
  data/simple-icons.json
  icons/opentui.svg
Due: jsonlint

Update icons/lmstudio.svg
  icons/lmstudio.svg
Due: none

Radiant Earth Logo
  icons/radiantearth.svg
Due: none

Add Radiant Earth icon information
  data/simple-icons.json
Due: jsonlint

Fix source URL for Radiant Earth icon
  data/simple-icons.json
Due: jsonlint

Delete icons/radiantearth.svg
  icons/radiantearth.svg
Due: none

Radiant Earth Logo fixed
  icons/radiantearth.svg
Due: none

Add LM Studio icon (#14717)
  data/simple-icons.json
  icons/lmstudio.svg
Due: jsonlint

Add Namelix icon
  data/simple-icons.json
  icons/namelix.svg
Due: jsonlint

created tealium icon
  data/simple-icons.json
  icons/tealium.svg
Due: jsonlint

Update hex color for Cockpit icon
  data/simple-icons.json
Due: jsonlint

Delete icons/cockpit.svg
  icons/cockpit.svg
Due: none

Updated cockpit.svg
  icons/cockpit.svg
Due: none

reformatted for lint check
  data/simple-icons.json
Due: jsonlint

Add Apache Arrow icon (#14468)
  data/simple-icons.json
  icons/apachearrow.svg
Due: jsonlint

Revert "Updated cockpit.svg"
  icons/cockpit.svg
Due: none

Revert "Delete icons/cockpit.svg"
  icons/cockpit.svg
Due: none

Revert "Update hex color for Cockpit icon"
  data/simple-icons.json
Due: jsonlint

Revert "Merge branch 'develop' into develop"
  data/simple-icons.json
  icons/lmstudio.svg
  package-lock.json
  package.json
  slugs.md
Due: jsonlint, markdownlint

changed source to https
  data/simple-icons.json
Due: jsonlint

Add Meta AI icon
  data/simple-icons.json
  icons/metaai.svg
Due: jsonlint

Add missing title tag and fix license reference
  data/simple-icons.json
  icons/juiceshop.svg
Due: jsonlint

Add OWASP Juice Shop logo
  data/simple-icons.json
  icons/juiceshop.svg
Due: jsonlint

Fix size and centering of the Juice Shop icon
  icons/juiceshop.svg
Due: none

Optimize logo with SVGO
  icons/juiceshop.svg
Due: none

updated dimension and centering
  icons/tealium.svg
Due: none

updated dimension and centering w/o transform
  icons/tealium.svg
Due: none

feat: added 115 icon
  data/simple-icons.json
  icons/115.svg
Due: jsonlint

Add Agent Skills icon
  data/simple-icons.json
  icons/agentskills.svg
Due: jsonlint

Add Claude Code icon (#14585)
  data/simple-icons.json
  icons/claudecode.svg
Due: jsonlint

Add Agent Skills icon (#14788)
  data/simple-icons.json
  icons/agentskills.svg
Due: jsonlint

nixos: modify metadata
  data/simple-icons.json
Due: jsonlint

Update NixOS icon (#14793)
  data/simple-icons.json
Due: jsonlint

Added m5stack.svg icon file and inserted M5Stack json object in simple-icons.json
  data/simple-icons.json
  icons/m5stack.svg
Due: jsonlint

Add Pi icon
  data/simple-icons.json
  icons/pi.svg
Due: jsonlint
