Repository simple-icons/simple-icons: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-icon-data, xo, jsonlint, svglint, markdownlint

format-icon-data:
  name: Format icon data
  entry: npm run format:icondata
  language: system
  pass_filenames: false

xo:
  name: XO
  entry: npx xo --fix
  language: system
  pass_filenames: false

jsonlint:
  name: JSON Lint
  entry: node scripts/lint/jsonlint.js
  pass_filenames: false
  language: system

svglint:
  name: SVG Lint
  entry: npx svglint --ci --config svglint.config.mjs --git-changed
  pass_filenames: false
  language: system
  verbose: true
  stages:
  - commit

markdownlint:
  name: Markdownlint
  entry: npx markdownlint-cli2 '**/*.md' '#node_modules'
  pass_filenames: false
  language: system

update jsonlint and ourlint
  prek.toml
Due: none

Unify name
  prek.toml
Due: none

Add vLLM icon
  data/simple-icons.json
  icons/vllm.svg
Due: jsonlint

Migrate to prek.toml (#14336)
  .editorconfig
  .pre-commit-config.yaml
  package-lock.json
  package.json
  prek.toml
Due: jsonlint

Add Orchard Core icon
  data/simple-icons.json
  icons/orchardcore.svg
Due: jsonlint

Add IndieWeb Icon
  data/simple-icons.json
  icons/indieweb.svg
Due: jsonlint

Update links in documentation
  CONTRIBUTING.md
  README.md
Due: markdownlint

Faster issue fetching in duplicates action and optimize ourlint
  package-lock.json
  scripts/actions/duplicate-issues/duplicate.app.js
  scripts/lint/ourlint.js
Due: xo, jsonlint

fix lint
  scripts/lint/ourlint.js
Due: xo

Replace markdown-cli2 by rumdl
  .markdownlint.json
  .rumdl.toml
  package-lock.json
  package.json
Due: jsonlint

Rename config file
  rumdl.toml
Due: none

Update devcontainer plugin
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
Due: jsonlint

Add cache-dir config
  .rumdl.toml
Due: none

fix script
  .github/workflows/verify.yml
  .pre-commit-config.yaml
Due: none

Add docs back
  .github/workflows/verify.yml
Due: none

Add Orchard Core icon (#14340)
  data/simple-icons.json
  icons/orchardcore.svg
Due: jsonlint

Update Corsair source URL (#14252)
  data/simple-icons.json
Due: jsonlint

Update simple-icons.json
  data/simple-icons.json
Due: jsonlint

Add IndieWeb icon (#14341)
  data/simple-icons.json
  icons/indieweb.svg
Due: jsonlint

Add Loops Icon
  data/simple-icons.json
  icons/loops.svg
Due: jsonlint

Add Pangolin icon
  data/simple-icons.json
  icons/pangolin.svg
  package-lock.json
Due: jsonlint

Fix broken source/guidelines links for Qi and webtrees icons
  data/simple-icons.json
Due: jsonlint

Use permalink for webtrees guidelines URL to prevent link rot
  data/simple-icons.json
Due: jsonlint

Add Base UI icon
  data/simple-icons.json
  icons/baseui.svg
Due: jsonlint

Update links in documentation (#14342)
  CONTRIBUTING.md
  README.md
Due: markdownlint

Replace markdown-cli2 by rumdl (#14329)
  .devcontainer/devcontainer.json
  .github/workflows/verify.yml
  .markdownlint.json
  package-lock.json
  package.json
  rumdl.toml
Due: jsonlint

Faster issue fetching in duplicates action and optimize ourlint (#14343)
  package-lock.json
  scripts/actions/duplicate-issues/duplicate.app.js
  scripts/lint/ourlint.js
Due: xo, jsonlint

Use `node --run` for scripts
  .github/workflows/publish.yml
  .github/workflows/verify.yml
  package.json
Due: jsonlint

Fix commands
  .github/workflows/verify.yml
Due: none

Fix scripts
  .github/workflows/verify.yml
Due: none

Fix test command
  .github/workflows/publish.yml
  .github/workflows/verify.yml
Due: none

Update wordings
  .github/workflows/publish.yml
  .github/workflows/verify.yml
Due: none

Add Pangolin icon
  data/simple-icons.json
  icons/pangolin.svg
Due: jsonlint

Fix param
  .github/workflows/verify.yml
Due: none

Fix params
  .github/workflows/verify.yml
Due: none

Add xAI icon
  data/simple-icons.json
  icons/xai.svg
Due: jsonlint

Use `node --run` for scripts (#14338)
  .github/workflows/publish.yml
  .github/workflows/verify.yml
  package.json
Due: jsonlint

Fix aspect ratio to match original logo
  icons/baseui.svg
Due: none

Update broken source/guidelines links (#11901)
  data/simple-icons.json
Due: jsonlint

Replace Prettier by Oxfmt
  .devcontainer/devcontainer.json
  .oxfmtrc.json
  .prettierignore
  .prettierrc.json
  package-lock.json
  package.json
  prek.toml
Due: jsonlint

Path conditions:
  format-icon-data: any of: {'glob': ['data/simple-icons.json']}
  xo: any of: \.(js|mjs|cjs)$
  jsonlint: any of: \.json$
  svglint: any of: {'glob': ['icons/*.svg']} and \.svg$
  markdownlint: any of: \.(md|markdown|mdown)$
