Repository simple-icons/simple-icons: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-icon-data, xo, jsonlint, svglint, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format-icon-data
        name: Format icon data
        entry: npm run format:icondata
        language: system
        pass_filenames: false
        files:
          glob:
            - data/simple-icons.json
      - id: prettier
        name: Prettier
        entry: npm run prettier -- --write
        language: system
        pass_filenames: false
      - id: xo
        name: XO
        entry: npx xo --fix
        language: system
        pass_filenames: false
        types: [javascript]
      - id: ourlint
        name: Our lint
        language: system
        entry: node scripts/lint/ourlint.js
        pass_filenames: false
        always_run: true
      - id: jsonlint
        name: JSON Lint
        entry: node scripts/lint/jsonlint.js
        pass_filenames: false
        language: system
        types: [json]
      - id: svglint
        name: SVG Lint
        entry: npx svglint --ci --config svglint.config.mjs --git-changed
        pass_filenames: false
        language: system
        types: [svg]
        files:
          glob:
            - icons/*.svg
        verbose: true
        stages: [commit]
      - id: markdownlint
        name: Markdownlint
        entry: "npx markdownlint-cli2 '**/*.md' '#node_modules'"
        pass_filenames: false
        types: [markdown]
        language: system

Synchronize labels when are manually changed
  .github/workflows/sync-labels.yml
Due: none

Update prek version
  package-lock.json
  package.json
Due: jsonlint

Replace husky by prek (#14245)
  .editorconfig
  .husky/pre-commit
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: jsonlint

Synchronize labels when are manually changed (#14257)
  .github/workflows/sync-labels.yml
Due: none

Fix formatting in CONTRIBUTING.md for clarity
  CONTRIBUTING.md
Due: markdownlint

Update MyAnimeList icon (#14190)
  data/simple-icons.json
  icons/myanimelist.svg
Due: jsonlint

Clarify usage of AI
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: markdownlint

Add Devuan icon
  data/simple-icons.json
  icons/devuan.svg
Due: jsonlint

Fix: update Corsair brand guidelines to optimised direct PDF link
  data/simple-icons.json
  package-lock.json
Due: jsonlint

Clarify usage of AI (#14267)
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: markdownlint

fix: correct 'Typescript' to 'TypeScript' in README.md
  README.md
Due: markdownlint

Update Corsair guidelines URL in simple-icons.json
  data/simple-icons.json
Due: jsonlint

Correct 'Typescript' to 'TypeScript' in README (#14276)
  README.md
Due: markdownlint

Add LocalAI icon
  data/simple-icons.json
  icons/localai.svg
Due: jsonlint

Update simple-icons.json
  data/simple-icons.json
Due: jsonlint

feat: add Ory icon
  data/simple-icons.json
  icons/ory.svg
Due: jsonlint

Add Modular icon
  data/simple-icons.json
  icons/kodular.svg
Due: jsonlint

Add Infuse icon
  data/simple-icons.json
  icons/infuse.svg
Due: jsonlint

Added guidlines link
  data/simple-icons.json
Due: jsonlint

Add Modular icon (#14289)
  data/simple-icons.json
  icons/kodular.svg
Due: jsonlint

Add Devuan icon (#14268)
  data/simple-icons.json
  icons/devuan.svg
Due: jsonlint

refactor: remove unnecessary aliases
  data/simple-icons.json
Due: jsonlint

Update data/simple-icons.json
  data/simple-icons.json
Due: jsonlint

Add IronVest Icon
  data/simple-icons.json
  icons/ironvest.svg
Due: jsonlint

Remove ToC from documentations
  CONTRIBUTING.md
  DISCLAIMER.md
Due: markdownlint

Remove ToC from documentations (#14293)
  CONTRIBUTING.md
  DISCLAIMER.md
Due: markdownlint

Add Infuse icon (#14290)
  data/simple-icons.json
  icons/infuse.svg
Due: jsonlint

Add Ory icon (#14287)
  data/simple-icons.json
  icons/ory.svg
Due: jsonlint

Update source URL for IronVest icon
  data/simple-icons.json
Due: jsonlint

Add Tarteaucitron icon
  data/simple-icons.json
  icons/tarteaucitron.svg
Due: jsonlint

Add files via upload
  icons/minecraft-8.svg
Due: none

Add Minecraft icon to simple-icons.json
  data/simple-icons.json
Due: jsonlint

Add files via upload
  icons/aboutyou.svg
Due: none

Add Convex icon
  data/simple-icons.json
  icons/convex.svg
Due: jsonlint

Add Convex icon (#14300)
  data/simple-icons.json
  icons/convex.svg
Due: jsonlint
