Repository simple-icons/simple-icons: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-icon-data, xo, jsonlint, svglint, markdownlint

format-icon-data:
  name: Format icon data
  entry: npm run format:icondata
  language: system
  pass_filenames: false

xo:
  name: XO
  entry: npx xo --fix
  language: system
  pass_filenames: false

jsonlint:
  name: JSON Lint
  entry: node scripts/lint/jsonlint.js
  pass_filenames: false
  language: system

svglint:
  name: SVG Lint
  entry: npx svglint --ci --config svglint.config.mjs --git-changed
  pass_filenames: false
  language: system
  verbose: true
  stages:
  - commit

markdownlint:
  name: Markdownlint
  entry: npx markdownlint-cli2 '**/*.md' '#node_modules'
  pass_filenames: false
  language: system

feat: add RTVE icon (#12272)
  data/simple-icons.json
  icons/rtve.svg
Due: jsonlint

Fix several broken links (#11901)
  data/simple-icons.json
Due: jsonlint

Add Qdrant icon (#14414)
  data/simple-icons.json
  icons/qdrant.svg
Due: jsonlint

add golang and templ package to readme
  README.md
Due: markdownlint

add correct dynamic version for go package
  README.md
Due: markdownlint

update link to go docs instead of source repo
  README.md
Due: markdownlint

Add Go package (#14543)
  README.md
Due: markdownlint

Add ProseMirror icon (#12866)
  data/simple-icons.json
  icons/prosemirror.svg
Due: jsonlint

Add Work.ink icon
  data/simple-icons.json
  icons/workdotink.svg
Due: jsonlint

add Sherlock icon
  data/simple-icons.json
  icons/sherlock.svg
Due: jsonlint

Add Faker icon
  data/simple-icons.json
  icons/faker.svg
Due: jsonlint

Add Faker icon (#14547)
  data/simple-icons.json
  icons/faker.svg
Due: jsonlint

feat: update ESPHome icon and color Remove extra line extending below house shape
  icons/esphome.svg
Due: none

Mention CDN repository
  README.md
Due: markdownlint

Unify data/simple-icons.json and npm package
  .github/workflows/publish.yml
  data/simple-icons.d.ts
  package-lock.json
  scripts/add-icon-data.js
  scripts/build/package.js
  scripts/release/minify-icons-data.js
  scripts/release/prepare-icons-data.js
  scripts/utils.js
Due: xo, jsonlint

Simplify type
  data/simple-icons.d.ts
Due: none

Do not publish RawIconData
  data/simple-icons.d.ts
  scripts/build/package.js
  scripts/release/prepare-icons-data.js
  scripts/types.d.ts
  scripts/utils.js
  sdk.mjs
  xo.config.mjs
Due: xo

Added Stadler icon
  data/simple-icons.json
  icons/stadler.svg
Due: jsonlint

Fix package-lock.json
  package-lock.json
Due: jsonlint

Do not publish getIconSlug
  scripts/build/package.js
  scripts/lint/ourlint.js
  scripts/release/prepare-icons-data.js
  scripts/release/update-slugs-table.js
  scripts/remove-icon.js
  scripts/types.d.ts
  scripts/utils.js
  sdk.mjs
  tests/index.test.js
  tests/test-icon.js
Due: xo

Update TS defs
  sdk.d.ts
Due: none

More replacements
  scripts/format-icon-data.js
  scripts/lint/jsonlint.js
  scripts/release/update-svgs-count.js
  svglint.config.mjs
Due: xo

fix errors
  scripts/build/package.js
  scripts/types.d.ts
  tests/test-icon.js
Due: xo

Do not publish titleToSlug as slug is distributed in package and dataset
  scripts/add-icon-data.js
  scripts/lint/ourlint.js
  scripts/utils.js
  sdk.d.ts
  sdk.mjs
  svglint.config.mjs
  tests/test-icon.js
Due: xo

fix error
  scripts/get-filename.js
  scripts/types.d.ts
Due: xo

Mention CDN repository (#14550)
  README.md
Due: markdownlint

Update Corsair brand guidelines URL
  data/simple-icons.json
Due: jsonlint

Update Corsair icon
  data/simple-icons.json
  icons/corsair.svg
Due: jsonlint

Update Corsair icon (#14555)
  data/simple-icons.json
  icons/corsair.svg
Due: jsonlint

Add RustFS icon (#14391)
  data/simple-icons.json
  icons/rustfs.svg
Due: jsonlint

Add SpiderMonkey icon (#14330)
  data/simple-icons.json
  icons/spidermonkey.svg
Due: jsonlint

Add ty icon (#14138)
  data/simple-icons.json
  icons/ty.svg
Due: jsonlint

chore: fix typo 'parms' to 'params'
  svglint.config.mjs
Due: xo

docs: fix typos in documentation
  data/simple-icons.json
  icons/ameba.svg
  icons/dota2.svg
  icons/hevy.svg
  icons/leslibraires.svg
  icons/progate.svg
  icons/ratatui.svg
  icons/rime.svg
  icons/testin.svg
  scripts/lint/ourlint.js
  slugs.md
Due: xo, jsonlint, markdownlint

feat(tangled): redo the svg
  icons/tangled.svg
Due: none

Add Fluxer icon
  data/simple-icons.json
  icons/fluxer.svg
Due: jsonlint

Add QWen icon
  data/simple-icons.json
  icons/qwen.svg
Due: jsonlint

Optimize Qwen icon
  icons/qwen.svg
Due: none

Add TRMNL icon
  data/simple-icons.json
  icons/trmnl.svg
Due: jsonlint

Add TRMNL icon (#14577)
  data/simple-icons.json
  icons/trmnl.svg
Due: jsonlint

Path conditions:
  format-icon-data: any of: {'glob': ['data/simple-icons.json']}
  xo: any of: \.(js|mjs|cjs)$
  jsonlint: any of: \.json$
  svglint: any of: {'glob': ['icons/*.svg']} and \.svg$
  markdownlint: any of: \.(md|markdown|mdown)$
