Repository simple-icons/simple-icons: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-icon-data, xo, jsonlint, svglint, markdownlint

format-icon-data:
  name: Format icon data
  entry: npm run format:icondata
  language: system
  pass_filenames: false

xo:
  name: XO
  entry: npx xo --fix
  language: system
  pass_filenames: false

jsonlint:
  name: JSON Lint
  entry: node scripts/lint/jsonlint.js
  pass_filenames: false
  language: system

svglint:
  name: SVG Lint
  entry: npx svglint --ci --config svglint.config.mjs --git-changed
  pass_filenames: false
  language: system
  verbose: true
  stages:
  - commit

markdownlint:
  name: Markdownlint
  entry: npx markdownlint-cli2 '**/*.md' '#node_modules'
  pass_filenames: false
  language: system

Add TRMNL icon (#14577)
  data/simple-icons.json
  icons/trmnl.svg
Due: jsonlint

Fixed path in Icon
  icons/cachyos.svg
Due: none

Add Claude Code icon
  data/simple-icons.json
  icons/claudecode.svg
Due: jsonlint

Add CachyOS icon (#14498)
  data/simple-icons.json
  icons/cachyos.svg
Due: jsonlint

Update Claude Code icon
  icons/claudecode.svg
Due: none

Add guidelines URL for Fluxer icon
  data/simple-icons.json
Due: jsonlint

Add Fluxer icon (#14477)
  data/simple-icons.json
  icons/fluxer.svg
Due: jsonlint

Add Sheryians Coding School icon
  data/simple-icons.json
  icons/sheryians.svg
Due: jsonlint

Add Elm package in readme's "third-party libraries"
  README.md
Due: markdownlint

Add Elm package (#14589)
  README.md
Due: markdownlint

Add Locust icon
  data/simple-icons.json
  icons/locust.svg
Due: jsonlint

add pimoroni.svg file
  icons/pimoroni.svg
Due: none

add entry in simple-icons.json file
  data/simple-icons.json
Due: jsonlint

add XAi icon
  data/simple-icons.json
  icons/xai.svg
Due: jsonlint

Add vLLM icon (#14339)
  data/simple-icons.json
  icons/vllm.svg
Due: jsonlint

Specify package tag version prefix in `.npmrc`
  .npmrc
Due: none

Improve version bump message
  .github/workflows/create-release.yml
Due: none

Add Locust icon (#13384)
  data/simple-icons.json
  icons/locust.svg
Due: jsonlint

Drop `update-cdn-urls` script
  .github/workflows/create-release.yml
  scripts/release/update-cdn-urls.js
Due: xo

Add hh.ru icon
  data/simple-icons.json
  icons/hhdotru.svg
Due: jsonlint

Specify package tag version prefix in `.npmrc` (#14603)
  .npmrc
Due: none

Improve version bump message (#14604)
  .github/workflows/create-release.yml
Due: none

Cleanup icon CDN replacer
  scripts/release/reformat-markdown.js
Due: xo

Cleanup script parameters
  .github/workflows/publish.yml
Due: none

Drop icon CDN replacer (#14605)
  .github/workflows/publish.yml
  scripts/release/reformat-markdown.js
Due: xo

Add Flowise Icon
  data/simple-icons.json
  icons/flowise.svg
Due: jsonlint

icon color fix
  data/simple-icons.json
Due: jsonlint

image fixed
  icons/flowise.svg
Due: none

netbird icon added
  data/simple-icons.json
  icons/netbird.svg
Due: jsonlint

Add Neon icon
  data/simple-icons.json
  icons/neon.svg
Due: jsonlint

Add SiliconFlow icon
  data/simple-icons.json
  icons/siliconflow.svg
Due: jsonlint

optimize svg icon
  icons/siliconflow.svg
Due: none

fix the order
  data/simple-icons.json
Due: jsonlint

fix tailing
  data/simple-icons.json
Due: jsonlint

Update ESPHome icon
  data/simple-icons.json
  icons/esphome.svg
Due: jsonlint

fix title in svg icon
  icons/siliconflow.svg
Due: none

Update simple-icons.json
  data/simple-icons.json
Due: jsonlint

Update 1Password icon
  data/simple-icons.json
  icons/1password.svg
Due: jsonlint

Path conditions:
  format-icon-data: any of: {'glob': ['data/simple-icons.json']}
  xo: any of: \.(js|mjs|cjs)$
  jsonlint: any of: \.json$
  svglint: any of: {'glob': ['icons/*.svg']} and \.svg$
  markdownlint: any of: \.(md|markdown|mdown)$
